table {
    width: 100%;
  }

.filter {
    width: 25%;
    text-align: center;
}

.filterParent {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonContainer {
    width: 100%;
    text-align: center;
}

.deleteButton {
    margin: 20px auto;

}

.spinner-container {
    height: 250px;
    width: 160px;
    margin-top: 150px;
}
