.fill-space {
    flex: 1 1 auto;
}

span {
    padding-right: 10px;
}

.name {
    font-family: monospace;
    font-style: oblique;
    font-size: 17pt;
}

a {
    color: #fff;
    font-weight: 400;
    padding: 0 .5em;
    text-decoration: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
}

button {
    color: #fff;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
    padding: 0 .5em;
    text-decoration: none;
    border: none;
    background: none;
}